footer {
    min-height: 30px;
    background-color: $primaryDarkColor;
    color: $primaryLightColor;
    font-size: 1.5rem;
    text-align: center;
    p {
        letter-spacing: 1px;

        // text-transform: uppercase;
        padding: 10px;
    }
}