footer {
    min-height: 100vh;
    background-color: $primaryLightColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .footerHeadings {
        margin-top: 80px;
        text-align: center;
        h3 {
            display: inline-block;
            max-width: 55%;
            font-family: $contentFont;
            text-transform: uppercase;
            font-size: 7rem;
            font-weight: 400;
            border-bottom: 2px solid $firstAccentColor;
        }
        p {
            display: inline-block;
            max-width: 90%;
            line-height: 1.5;
            margin: 20px 0px;
            font-style: italic;
            font-size: 3rem;
        }
    }
    .means {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .contactMe {
            form {
                display: flex;
                flex-direction: column;
                width: 500px;
                label {
                    font-size: 2rem;
                    font-style: italic;
                    color: $primaryDarkColor;
                    margin: 10px 0px;
                }
                input, textarea {
                    box-shadow: 3px 3px rgba($secondAccentColor, 0.5);
                    border: 1px solid $firstAccentColor;
                    padding: 10px;
                    font-size: 2rem;
                    font-family: $contentFont;
                    letter-spacing: 1.5px;
                    line-height: 1.5;
                    font-weight: 500;
                    color: $primaryDarkColor;
                }
                input:focus, textarea:focus {
                    border: 5px solid $firstAccentColor;
                }
                input {
                    height: 40px;
                }
                textarea {
                    resize: none;
                    height: 250px;
                }
                button {
                    box-shadow: 3px 3px rgba($secondAccentColor, 0.5);
                    border: 1px solid $firstAccentColor;
                    text-transform: uppercase;
                    background-color: white;
                    font-size: 2.5rem;
                    font-family: $contentFont;
                    padding: 10px;
                    margin-top: 10px;
                }
            }
        }
        .socials {
            text-align: right;
            h4 {
                text-transform: uppercase;
                font-size: 4rem;
                font-family: $contentFont;
                margin-bottom: 10px;
            }
            p {
                font-size: 3rem;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: right;
                margin-top: 50px;
                li {
                    font-size: 14rem;
                    margin-right: 30px;
                    a {
                        color: $primaryDarkColor;
                    }
                }
                li:nth-child(4) {
                    margin: 0;
                }
            }
        }
    }
    .copyright {
        position: absolute; 
        bottom: 0; 
        width: 100%; 
        height: 50px; 
        // position: absolute;
        padding-top: 8px;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $primaryLightColor;
        // bottom: 0;
        // width: 100%;
        text-align: center;
        // left: 50%;
        // transform: translate(-50%, -50%);
        background-color: $primaryDarkColor;
        p:nth-child(1) {
            margin-bottom: 10px;
        }
    }
}