html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3, h4, p, a, li, span {
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}
h1, h2, p, li {
    font-family: $contentFont;
}
h3, h4, a, span {
    font-family: $accentFont;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: inline-block;
}

label {
    font-family: $contentFont;
}

form {
    button {
        border: none;
        background-color: none;
    }
}

input::placeholder, textarea::placeholder {
    font-family: $accentFont;
    color: $secondAccentColor;
    opacity: 0.2;
}

.fatText {
    font-family: $contentFont;
    font-weight: 700;
}

header {
    padding: 0;
    margin: 0;
    background-color: $primaryLightColor;
    min-height: 100vh;
}

main {
    padding: 0;
    margin: 0;
    background-color: $primaryDarkColor;
    color: $primaryLightColor;
}


.slick-initialized .slick-slide {
    display: flex !important;
}

.slick-dots {
    font-size: 5rem;
    display: flex;
    li {
        background-color: $primaryLightColor;
        button {
            border: none;
        }
    }
}

.slick-prev, .slick-next {
    background-color: transparent;
    border: 0;
    position: absolute;
    cursor: pointer;
    color: $primaryLightColor;
    font-family: $contentFont;
    text-transform: uppercase;
    font-size: 1.7rem;
    border-bottom: 1px solid $primaryLightColor;
    padding-bottom: 10px;
    transition: 0.2s all ease-out;
}

.slick-prev:hover, .slick-next:hover, .slick-prev:focus, .slick-next:focus {
    padding-bottom: 20px;
}

.slick-prev {
    top: 50%;
    left: -18%;
}

.slick-next {
    top: 50%;
    right: -15%;
}
