html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
}

h1, h2, h3, h4, p, a, li, span {
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}
h1, h2, p, li {
    font-family: $contentFont;
}
h3, h4, a, span {
    font-family: $accentFont;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    display: inline-block;
}

label {
    font-family: $contentFont;
}

form {
    button {
        border: none;
        background-color: none;
    }
}

input::placeholder, textarea::placeholder {
    font-family: $accentFont;
    color: $secondAccentColor;
    opacity: 0.2;
}

.fatText {
    font-family: $contentFont;
    font-weight: 700;
}

header {
    padding: 0;
    margin: 0;
    background-color: $primaryLightColor;
    min-height: 100vh;
}

main {
    padding: 0;
    margin: 0;
    background-color: $primaryDarkColor;
    color: $primaryLightColor;
}


.slick-initialized .slick-slide {
    display: flex !important;
}

.slick-dots {
    font-size: 5rem;
    display: flex;
    li {
        background-color: $primaryLightColor;
        button {
            border: none;
        }
    }
}

.menuToggle {
    display: none;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    user-select: none;
    a {
        text-decoration: none;
        color: $secondAccentColor;
        font-family: $contentFont;
        text-transform: uppercase;
        font-weight: 700;
        transition: color 0.3s ease;
    }
    a:hover,
    a:active {
        color: $firstAccentColor;
    }
    input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 1; 
    }
    span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $primaryLightColor;
        box-shadow: 2px 2px $primaryDarkColor;
        border-radius: 3px;
        z-index: 3;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    span:first-child {
        transform-origin: 0% 0%;
    }
    span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $primaryDarkColor;
        box-shadow: none;
    }
    input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    .menu {
        position: absolute;
        width: 100vw;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background-color: $primaryLightColor;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        li {
            padding: 10px 0;
            font-size: 22px;
        }
    }
    input:checked ~ ul {
        transform: none;
    }
}