header {
    position: relative;
    .headerContentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 45%;
        .mainHeading {
            display: flex;
            flex-direction: column;
            padding-right: 30px;
            border-right: 3px solid $secondAccentColor;
            h1 {
                font-size: 9rem;
                text-transform: uppercase;
                color: $primaryDarkColor;
            }
            span {
                font-size: 3.9rem;
                font-weight: 500;
                color: $firstAccentColor;
            }
        }
        .secondaryHeading {
            padding-left: 30px;
            h2 {
                color: $primaryDarkColor;
                font-size: 8rem;
                font-style: italic;
                font-weight: 400;
            }
        }
    }
    .scrollToContent {
        @include arrowPosition;
        .fa-chevron-down {
            color: $secondAccentColor;
        }
    }
}