@media (max-width: 1630px) {
    .slick-prev {
        left: -14%;
    }
    .slick-next {
        right: -11%;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription h4 {
        font-size: 4rem;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription p {
        font-size: 1.6rem;
    }
    footer .means .socials ul li {
        font-size: 10rem;
        margin-right: 30px;
    }

    footer .footerHeadings p {
        font-size: 2rem;
    }
}

@media (max-width: 1430px) {
    header .headerContentContainer {
        bottom: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    footer .footerHeadings h3 {
        font-size: 6rem;
    }
    footer .means .socials h4 {
        font-size: 3rem;
    }
    footer .means .socials p {
        font-size: 2.5rem;
    }
    footer .means .socials ul {
        // margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        text-align: center;
        li, li:nth-child(4) {
            font-size: 12rem;
            margin-top: 20px;
            margin-right: 0;
            position: relative;
        }
    }
}

@media (max-width: 1308px) {
    button.slick-prev.slick-arrow {
        display: none;
    }
    button.slick-next.slick-arrow  {
        display: none;
    }
    .wrapper {
        width: 80%;
    }
    .portfolio h3 {
        opacity: 2;
    }
    .portfolio .lowWidth {
        display: block;
        opacity: 1;
    }
    .portfolio .extra {
        display: none;
    }
    .portfolio .gallery .projectContent .projectImg {
        width: 200%;
    }
    footer .means .contactMe form textarea {
        height: 200px;
    }
} 

@media (max-width: 1265px) {
    button.slick-prev.slick-arrow {
        display: none;
    }
    button.slick-next.slick-arrow  {
        display: none;
    }
    .about .aboutContentContainer .aboutHeading h3, 
    .skillset .skillsetContentContainer .skillsetHeading h3{
        font-size: 5rem;
    }
    .about .aboutContentContainer .aboutText ul li p {
        font-size: 1.7rem;
    }
    .skillset .skillsetContentContainer .skillList .codeSkills ul li, 
    .skillset .skillsetContentContainer .skillList .humanSkills ul li {
        font-size: 1.7rem;
    }
}

@media (max-width: 1230px) {
    button.slick-prev.slick-arrow {
        display: none;
    }
    button.slick-next.slick-arrow  {
        display: none;
    }
    .projectImg {
        display: none;
    }
    .portfolio .gallery .projectContent .projectsLine {
        display: none;
    }
    footer .footerHeadings h3 {
        font-size: 4.5rem;
    }
    footer .footerHeadings p {
        font-size: 1.8rem;
        letter-spacing: 1.5px;
    }
    footer .means {
        margin-top: 0px;
    }
    footer .means .contactMe form label {
        font-size: 1.6rem;
    }
    footer .means .contactMe form input {
        height: 35px;
    }
    footer .means .contactMe form button {
        font-size: 2rem;
    }
    footer .means {
        flex-direction: column;
        align-items: center;
    }
    footer .means .socials {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px;
    }
    footer .means .socials ul {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    footer .means .socials ul li,
    footer .means .socials ul li:nth-child(4){
        font-size: 7rem;
        margin-right: 15px;
    }
}

@media (max-width: 1040px) {
    button.slick-prev.slick-arrow {
        display: none;
    }
    button.slick-next.slick-arrow  {
        display: none;
    }
    button.slick-prev.slick-arrow {
        display: none;
    }
    button.slick-next.slick-arrow  {
        display: none;
    }
    .about .aboutContentContainer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    .about .aboutContentContainer .aboutHeading h3 {
        text-shadow: 0px 30px rgba(2, 66, 63, 0.5), 0px 60px rgba(99, 3, 4, 0.5);
        border-bottom: 1px solid;
        padding-bottom: 80px;
    }
    .about .aboutContentContainer .aboutText ul {
        margin-top: 30px;
    }
    .about .aboutContentContainer .aboutText ul li {
        list-style: disclosure-closed;
        font-size: 2rem;
    }
    .about .aboutContentContainer .aboutText ul li p {
        font-size: 1.9rem;
    }
    .about .aboutContentContainer .aboutLine {
        display: none;
    }
    .skillset {
        padding-top: 70px;
    }
    .skillset .skillsetContentContainer .skillList h4 {
        font-size: 2.5rem;
    }
    .skillset .skillsetContentContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }
    .skillset .skillsetContentContainer .skillsetHeading {
        text-shadow: 0px 30px rgba(2, 66, 63, 0.5), 0px 60px rgba(99, 3, 4, 0.5);
        border-bottom: 1px solid;
        padding-bottom: 80px;
    }
    .skillset .skillsetContentContainer .skillList .codeSkills, .skillset .skillsetContentContainer .skillList .humanSkills {
        margin-top: 30px;
    }
    .skillset .skillsetContentContainer .skillList h4 {
        font-size: 3.5rem;
    }
    .skillset .skillsetContentContainer .skillList .codeSkills ul, .skillset .skillsetContentContainer .skillList .humanSkills ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
    }
    .skillset .skillsetContentContainer .skillList .codeSkills ul li, .skillset .skillsetContentContainer .skillList .humanSkills ul li {
        font-size: 2rem;
    }
    .skillset .skillsetContentContainer .skillsetLine {
        display: none;
    }
}

@media (max-width: 865px) {
    header .headerContentContainer {
        flex-direction: column;
    }
}