@media (max-width: 1435px) {
    header .headerContentContainer .headings .mainHeading h1 {
        font-size: 7rem;
    }
    header .headerContentContainer .headings .mainHeading span {
        font-size: 2.9rem;
    }
    header .headerContentContainer .headings .secondaryHeading h2 {
        font-size: 6rem;
    }
    header .headerContentContainer .lpNavigation {
        width: 50%;
        left: 25%;
    }
    .portfolio .gallery .projectContent .projectImg {
        width:80%;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription p {
        font-size: 1.6rem;
    }
    .portfolio .gallery .projectContent .projectText .projectLinks a {
        font-size: 2rem;
        border: 3px solid transparent;
    }
    .portfolio .gallery .projectContent .projectText .projectLinks a:focus, 
    .portfolio .gallery .projectContent .projectText .projectLinks a:hover {
        border: 3px solid #EF233C;
    }
}

@media (max-width: 1188px) {
    header::before {
        background-repeat: no-repeat;
        background-size: 140%;
    }
    header .headerContentContainer .headings  {
        left: 50%;
        bottom: 30%;
        transform: translate(-50%, -50%);
        flex-direction: column;
    }
    header .headerContentContainer .headings .secondaryHeading h2 {
        font-size: 5rem;
    }
    header .headerContentContainer .headings .mainHeading {
        padding: 0px;
        border: none;
    }
    header .headerContentContainer .headings .secondaryHeading {
        padding: 0px;
        text-align: center;
    }
    header .headerContentContainer .headings .mainHeading h1 {
        font-size: 8rem;
    }
    header .headerContentContainer .headings .mainHeading span {
        text-align: center;
        font-size: 2.5rem;
        border-bottom: 2px solid $firstAccentColor;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    header .headerContentContainer .lpNavigation {
        left: 50%;
        transform: translate(-50%, -50%);
        // width: 100%;
    }
    header .headerContentContainer .lpNavigation ul {
        justify-content: space-between;
    }
    header .headerContentContainer .lpNavigation ul li a {
        font-size: 1.5rem;
        font-weight: 700;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription h4 {
        font-size: 3rem;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription h5 {
        font-size: 1.5rem;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription span {
        font-size: 3.5rem;
    }
    .portfolio .gallery .projectContent .projectText .projectLinks a {
        font-size: 1.5rem;
        margin-right: 15px;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription p {
        font-size: 1.5rem;
    }
}

@media (max-width: 1043px) {
    header .headerContentContainer .headings .secondaryHeading h2 {
        font-size: 4rem;
    }
    .about .aboutText ul li p {
        font-size: 1.7rem;
        letter-spacing: 0.5px;
    }
    .fatText {
        letter-spacing: 1px;
    }
    .skillset .skillsContainer h4 {
        font-size: 2.5rem;
    }
    .skillset .skillsContainer .comp .skillList li i, .skillset .skillsContainer .current .skillList li i {
        font-size: 4rem;
    }
    .skillset .skillsContainer .comp .skillList li p, .skillset .skillsContainer .current .skillList li p {
        font-size: 1.5rem;
    }
    .portfolio .gallery .projectContent {
        min-height: 85vh;
        flex-direction: column-reverse;
        justify-content: initial;
    }
    .portfolio .gallery .projectContent .projectImg {
        width: 50%;
    }
    .portfolio .gallery .projectContent .projectText {
        margin-top: 50px;
    }
    .contactInfo .means .socials {
        width: 100%;
    }
    .contactInfo .means .socials .gmail {
        font-size: 1.7rem;
    }
}

@media (max-width: 935px) {
    header .headerContentContainer .lpNavigation {
        display: none;
    }
    .navigation {
        display: block;
    }
    .menuToggle {
        display: block;
    }
    .skillset .skillsContainer h4 {
        font-size: 2rem;
    }
    .contactInfo .contactHeadings p {
        font-size: 1.5rem;
    }
    .contactInfo .means .contactMe {
        width: 80%;
    }
}

@media (max-width: 883px) {
    header::before {
        background-repeat: no-repeat;
        background-size: 180%;
    }
    header .headerContentContainer .headings {
        bottom: 20%;
    }
    header .headerContentContainer .headings .secondaryHeading h2 {
        font-size: 5rem;
    }
}

@media (max-width: 735px) {
    .about h3, .skillset h3, .portfolio h3, .contactInfo .contactHeadings h3 {
        font-size: 5rem;
    }

    .skillset .skillsContainer h4 {
        font-size: 1.7rem;
    }
    .skillset .skillsContainer .comp .skillList li i, .skillset .skillsContainer .current .skillList li i {
        font-size: 3rem;
        text-shadow: 1px solid $firstAccentColor;
    }
    .skillset .skillsContainer .comp .compCont {
        flex-direction: column;
    }
    .skillset .skillsContainer .comp .skillList {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .skillset .skillsContainer .comp .skillList li {
        margin-right: 20px;
    }
    .portfolio .gallery .projectContent {
        min-height: 90vh;
    }
    .portfolio .gallery .projectContent .projectImg {
        width: 70%;
    }
    .menuToggle span {
        width: 33px;
        height: 4px;
        margin-bottom: 6px;
    }
    .menuToggle input:checked ~ span {
        transform: rotate(45deg) translate(0px, 0px);
    }
    .menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0px, 0px);
    }
    .menuToggle .menu {
        // width: 10vw;
        padding: 50px;
    }
}

@media (max-width: 690px) {
    header::before {
        background-size: 250%;
    }
    .about .aboutText ul li p {
        font-size: 1.5rem;
    }
}

@media (max-width: 610px) {
    .about h3, .skillset h3, .portfolio h3, .contactInfo .contactHeadings h3 {
        font-size: 4rem;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription h4 {
        font-size: 2.5rem;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription span {
        font-size: 3rem;
    }
    .contactInfo .means .contactMe {
        width: 100%;
    }
    .contactInfo .contactHeadings p {
        align-self: flex-start;
        text-align: start;
        width: 100%;
    }
}

@media (max-width: 537px) {
    header .scrollToContent p {
        font-size: 1.2rem;
        font-weight: 700;
    }
    .portfolio .gallery .projectContent .projectText .projectLinks a {
        font-size: 1.5rem;
        padding: 3px 5px;
    }
}

@media (max-width: 510px) {
    header::before {
        background-size: 350%;
    }
    .about .aboutText ul li {
        font-size: 1.5rem;
    }
    .about .aboutText ul li p {
        font-weight: 500;
        font-size: 1.5rem;
    }
    .skillset .skillsContainer .comp .skillList li p, .skillset .skillsContainer .current .skillList li p {
        font-size: 1rem;
    }
    .portfolio .gallery .projectContent .projectText {
        margin-right: 0px;
        width: 100%;
        max-width: 100%;
    }
    .portfolio .gallery .projectContent {
        margin: 0px;
        align-items: center;
        justify-content: center;
    }
    .contactInfo .means .contactMe form button {
        font-size: 1.5rem;
    }
}

@media (max-width: 481px) {
    header .scrollToContent p {
        width: 60%;
        font-size: 1rem;
        text-align: center;
    }
    .portfolio .gallery .projectContent .projectText {
        margin-left: 0px;
    }
    .portfolio .gallery .projectContent {
        margin: 80px 0px
    }
    .menuToggle {
        top: 15px;
        left: 15px;
    }
    .contactInfo .means .socials .gmail {
        font-size: 1.5rem;
        letter-spacing: 1px;
    }
    .contactInfo .means .socials .socialLinks li a i {
        font-size: 3rem;
    }
}

@media (max-width: 410px) {
    header::before {
        background-size: 370%;
    }
    header .headerContentContainer .headings .mainHeading h1 {
        font-size: 6.5rem;
    }
    header .headerContentContainer .headings .secondaryHeading h2 {
        font-size: 4rem;
    }
    .about h3, .skillset h3, .portfolio h3, .contactInfo .contactHeadings h3 {
        font-size: 3rem;
    }
    .skillset .skillsContainer .comp .skillList li i, .skillset .skillsContainer .current .skillList li i {
        font-size: 2.2rem;
        text-shadow: none;
    }
    .skillset .skillsContainer .comp .skillList li p, .skillset .skillsContainer .current .skillList li p {
        font-size: 0.9rem;
    }
    .skillset .skillsContainer .comp .skillList li:nth-child(4) {
        margin: 0px;
    }
    .skillset .skillsContainer .comp .current .skillList {
        padding: 0;
    }
    .portfolio .gallery .projectContent .projectImg {
        width: 100%;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription .tools {
        font-size: 1.4rem;
    }
    .portfolio .gallery .projectContent .projectText .projectDescription p {
        font-size: 1.2rem;
    }
    .portfolio .gallery .projectContent .projectText .projectLinks {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .portfolio .gallery .projectContent .projectText .projectLinks a {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 20px;
        margin-right: 0px;
    }
    .contactInfo .means .contactMe form button {
        width: 100%;
    }
    .menuToggle {
        top: 10px;
        left: 5px;
    }
}