.portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    h3 {
        margin: 0;
        font-size: 2rem;
        text-transform: uppercase;
        font-family: $contentFont;
        margin-bottom: 20px;
        text-align: center;
    }
    .gallery {
        .projectContent {
            height: 800px;
            cursor: grab;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 20px;
            .projectText {
                .projectDescription {
                    h4 {
                        font-size: 5rem;
                        font-family: $contentFont;
                        font-family: $accentFont;
                        text-transform: uppercase;
                        font-weight: 700;
                        // font-weight: 400;
                        text-shadow: 0px 20px rgba($secondAccentColor, 0.5), 0px 40px rgba($firstAccentColor, 0.5);;
                    }
                    h5 {
                        margin: 40px 0px 35px 0px;
                        font-size: 2.3rem;
                        letter-spacing: 1px;
                        font-family: $contentFont;
                        font-weight: 400;
                        font-style: italic;
                    }
                    .tools {
                        font-size: 2.2rem;
                        font-family: $accentFont;
                        font-weight: 500;
                        margin-bottom: 20px;
                    }
                    p {
                        letter-spacing: 1.5px;
                        line-height: 1.5;
                        font-size: 1.8rem;
                        margin-bottom: 15px;
                    }
                }
                .projectLinks {
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-top: 50px;
                    a {
                        margin-right: 30px;
                        color: $primaryLightColor;
                        padding: 10px;
                        box-shadow: 3px 3px rgba($primaryLightColor, 0.5);
                    }
                    .github {
                        background-color: $firstAccentColor;
                    }
                    .viewLive {
                        background-color: $secondAccentColor;
                    }
                }
            }
            .projectImg {
                width: 150%;
            }
            .projectsLine {
                display: inline-block;
                width: 5px;
                height: 500px;
                background-color: $primaryLightColor;
                margin: 0px 50px;
            }
        }
    }
    .direction {
        margin-top: 10px;
        h3 {
            font-size: 1.7rem;
            opacity: 0.5;
            // margin-top: -15px;
        }
    }
    .scrollToContact {
        @include arrowPosition;
        color: $primaryLightColor;
        top: 95%;
        p {
            font-weight: 700;
        }
        .fa-chevron-down {
            color: $primaryLightColor;
        }
    }
}