.skillset {
    min-height: 100vh;
    padding-top: 50px;
    h3 {
        // max-width: 355px;
        text-align: right;
        padding: 0 20px 20px 0px;
        @include secondaryHeadingsStyle;
        border-right: 8px solid $firstAccentColor;
        border-bottom: 8px solid $firstAccentColor;
    }
    .skillsContainer {
        margin-top: 80px;
        h4 {
            font-size: 3rem;
            font-weight: 500;
            text-transform: uppercase;
            padding-bottom: 5px;
            margin-bottom: 20px;
            border-bottom: 1px solid $firstAccentColor;
        }
        .comp, .current {
            margin-bottom: 50px;
            .skillList {
                margin-right: 100px;
                li {
                    margin: 10px 100px 50px 0px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    p {
                        font-size: 2rem;
                        text-align: center;
                        margin-left: 15px;
                    }
                    i {
                        font-size: 5rem;
                    }
                }
            }
        }
        .comp {
            .compCont {
                display: flex;
                flex-direction: row;
                // justify-content: center;
            }
        }
    }
}