// fonts
$contentFont: 'Libre Baskerville', serif;
$accentFont: 'Montserrat', sans-serif;

// colors
$primaryLightColor: #edf2f4;
$primaryDarkColor: #2B2D42;
$firstAccentColor: #c20114;
$secondAccentColor: #EF233C;
