// fonts
$contentFont: 'Libre Baskerville', serif;
$accentFont: 'Montserrat', sans-serif;

// colors
$primaryLightColor: #F0E9ED;
$primaryDarkColor: #110506;
$firstAccentColor: #630304;
$secondAccentColor: #02423F;
