html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, h4, p, a, li, span {
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}

h1, h2, p, li {
  font-family: "Libre Baskerville", serif;
}

h3, h4, a, span {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  display: inline-block;
}

label {
  font-family: "Libre Baskerville", serif;
}

form button {
  border: none;
  background-color: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #02423F;
  opacity: 0.2;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #02423F;
  opacity: 0.2;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  color: #02423F;
  opacity: 0.2;
}

input::placeholder, textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #02423F;
  opacity: 0.2;
}

.fatText {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

header {
  padding: 0;
  margin: 0;
  background-color: #F0E9ED;
  min-height: 100vh;
}

main {
  padding: 0;
  margin: 0;
  background-color: #110506;
  color: #F0E9ED;
}

.slick-initialized .slick-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-dots {
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots li {
  background-color: #F0E9ED;
}

.slick-dots li button {
  border: none;
}

header {
  position: relative;
}

header .headerContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 45%;
}

header .headerContentContainer .mainHeading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  border-right: 3px solid #02423F;
}

header .headerContentContainer .mainHeading h1 {
  font-size: 9rem;
  text-transform: uppercase;
  color: #110506;
}

header .headerContentContainer .mainHeading span {
  font-size: 3.9rem;
  font-weight: 500;
  color: #630304;
}

header .headerContentContainer .secondaryHeading {
  padding-left: 30px;
}

header .headerContentContainer .secondaryHeading h2 {
  color: #110506;
  font-size: 8rem;
  font-style: italic;
  font-weight: 400;
}

header .scrollToContent {
  opacity: 0.5;
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #02423F;
}

header .scrollToContent p {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

header .scrollToContent .fa-chevron-down {
  margin-top: 5px;
  font-size: 3rem;
}

header .scrollToContent p {
  font-weight: 700;
}

header .scrollToContent .fa-chevron-down {
  color: #02423F;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about .aboutContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .aboutContentContainer .aboutHeading h3 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -100px;
  text-shadow: 0px 60px rgba(2, 66, 63, 0.5), 0px 120px rgba(99, 3, 4, 0.5);
}

.about .aboutContentContainer .aboutText ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .aboutContentContainer .aboutText ul li {
  margin: 15px 0px;
}

.about .aboutContentContainer .aboutText ul li p {
  line-height: 1.7;
  font-size: 2rem;
  letter-spacing: 2px;
}

.about .aboutContentContainer .aboutLine {
  display: inline-block;
  width: 4px;
  height: 500px;
  background-color: #F0E9ED;
  margin: 0px 50px;
}

.about .scrollToSkills {
  opacity: 0.5;
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0E9ED;
}

.about .scrollToSkills p {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.about .scrollToSkills .fa-chevron-down {
  margin-top: 5px;
  font-size: 3rem;
}

.about .scrollToSkills p {
  font-weight: 700;
}

.about .scrollToSkills .fa-chevron-down {
  color: #F0E9ED;
}

.skillset {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.skillset .skillsetContentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillset .skillsetContentContainer .skillList h4 {
  font-size: 3rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}

.skillset .skillsetContentContainer .skillList h4 .fatText {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.skillset .skillsetContentContainer .skillList h4 .computers {
  text-shadow: 3px 3px #630304;
}

.skillset .skillsetContentContainer .skillList h4 .humans {
  text-shadow: 3px 3px #02423F;
}

.skillset .skillsetContentContainer .skillList .codeSkills, .skillset .skillsetContentContainer .skillList .humanSkills {
  margin: 60px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.skillset .skillsetContentContainer .skillList .codeSkills ul, .skillset .skillsetContentContainer .skillList .humanSkills ul {
  line-height: 2;
  margin: 10px 50px 0px 0px;
}

.skillset .skillsetContentContainer .skillList .codeSkills ul li, .skillset .skillsetContentContainer .skillList .humanSkills ul li {
  font-weight: 700;
  font-size: 2rem;
  list-style: disclosure-closed;
  text-transform: uppercase;
  margin-left: 24px;
}

.skillset .skillsetContentContainer .skillList .codeSkills ul .firstColumn, .skillset .skillsetContentContainer .skillList .humanSkills ul .firstColumn {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.skillset .skillsetContentContainer .skillList .codeSkills ul .secondColumn, .skillset .skillsetContentContainer .skillList .humanSkills ul .secondColumn {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.skillset .skillsetContentContainer .skillsetHeading {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -100px;
  text-shadow: 0px 70px rgba(2, 66, 63, 0.5), 0px 140px rgba(99, 3, 4, 0.5);
}

.skillset .skillsetContentContainer .skillsetLine {
  display: inline-block;
  width: 1.5px;
  height: 400px;
  background-color: #F0E9ED;
  margin: 0px 50px;
  z-index: 0;
}

.skillset .scrollToProjects {
  opacity: 0.5;
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0E9ED;
  top: 95%;
}

.skillset .scrollToProjects p {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.skillset .scrollToProjects .fa-chevron-down {
  margin-top: 5px;
  font-size: 3rem;
}

.skillset .scrollToProjects p {
  font-weight: 700;
}

.skillset .scrollToProjects .fa-chevron-down {
  color: #F0E9ED;
}

.portfolio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.portfolio h3 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 20px;
  text-align: center;
}

.portfolio .gallery .projectContent {
  height: 800px;
  cursor: -webkit-grab;
  cursor: grab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.portfolio .gallery .projectContent .projectText .projectDescription h4 {
  font-size: 5rem;
  font-family: "Libre Baskerville", serif;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0px 20px rgba(2, 66, 63, 0.5), 0px 40px rgba(99, 3, 4, 0.5);
}

.portfolio .gallery .projectContent .projectText .projectDescription h5 {
  margin: 40px 0px 35px 0px;
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.portfolio .gallery .projectContent .projectText .projectDescription .tools {
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}

.portfolio .gallery .projectContent .projectText .projectDescription p {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.portfolio .gallery .projectContent .projectText .projectLinks {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
}

.portfolio .gallery .projectContent .projectText .projectLinks a {
  margin-right: 30px;
  color: #F0E9ED;
  padding: 10px;
  -webkit-box-shadow: 3px 3px rgba(240, 233, 237, 0.5);
          box-shadow: 3px 3px rgba(240, 233, 237, 0.5);
}

.portfolio .gallery .projectContent .projectText .projectLinks .github {
  background-color: #630304;
}

.portfolio .gallery .projectContent .projectText .projectLinks .viewLive {
  background-color: #02423F;
}

.portfolio .gallery .projectContent .projectImg {
  width: 150%;
}

.portfolio .gallery .projectContent .projectsLine {
  display: inline-block;
  width: 5px;
  height: 500px;
  background-color: #F0E9ED;
  margin: 0px 50px;
}

.portfolio .direction {
  margin-top: 10px;
}

.portfolio .direction h3 {
  font-size: 1.7rem;
  opacity: 0.2;
}

.portfolio .scrollToContact {
  opacity: 0.5;
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F0E9ED;
  top: 95%;
}

.portfolio .scrollToContact p {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.portfolio .scrollToContact .fa-chevron-down {
  margin-top: 5px;
  font-size: 3rem;
}

.portfolio .scrollToContact p {
  font-weight: 700;
}

.portfolio .scrollToContact .fa-chevron-down {
  color: #F0E9ED;
}

footer {
  min-height: 100vh;
  background-color: #F0E9ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer .footerHeadings {
  margin-top: 80px;
  text-align: center;
}

footer .footerHeadings h3 {
  display: inline-block;
  max-width: 55%;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 400;
  border-bottom: 2px solid #630304;
}

footer .footerHeadings p {
  display: inline-block;
  max-width: 90%;
  line-height: 1.5;
  margin: 20px 0px;
  font-style: italic;
  font-size: 3rem;
}

footer .means {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

footer .means .contactMe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

footer .means .contactMe form label {
  font-size: 2rem;
  font-style: italic;
  color: #110506;
  margin: 10px 0px;
}

footer .means .contactMe form input, footer .means .contactMe form textarea {
  -webkit-box-shadow: 3px 3px rgba(2, 66, 63, 0.5);
          box-shadow: 3px 3px rgba(2, 66, 63, 0.5);
  border: 1px solid #630304;
  padding: 10px;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: 500;
  color: #110506;
}

footer .means .contactMe form input:focus, footer .means .contactMe form textarea:focus {
  border: 5px solid #630304;
}

footer .means .contactMe form input {
  height: 40px;
}

footer .means .contactMe form textarea {
  resize: none;
  height: 250px;
}

footer .means .contactMe form button {
  -webkit-box-shadow: 3px 3px rgba(2, 66, 63, 0.5);
          box-shadow: 3px 3px rgba(2, 66, 63, 0.5);
  border: 1px solid #630304;
  text-transform: uppercase;
  background-color: white;
  font-size: 2.5rem;
  font-family: "Libre Baskerville", serif;
  padding: 10px;
  margin-top: 10px;
}

footer .means .socials {
  text-align: right;
}

footer .means .socials h4 {
  text-transform: uppercase;
  font-size: 4rem;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 10px;
}

footer .means .socials p {
  font-size: 3rem;
}

footer .means .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 50px 0px;
}

footer .means .socials ul li {
  font-size: 14rem;
  margin-right: 30px;
}

footer .means .socials ul li a {
  color: #110506;
}

footer .means .socials ul li:nth-child(4) {
  margin: 0;
}

footer .copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 8px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #F0E9ED;
  text-align: center;
  background-color: #110506;
}

footer .copyright p:nth-child(1) {
  margin-bottom: 10px;
}

footer .up {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #630304;
}

@media (max-width: 1630px) {
  .slick-prev {
    left: -14%;
  }
  .slick-next {
    right: -11%;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h4 {
    font-size: 4rem;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription p {
    font-size: 1.6rem;
  }
  footer .means .socials ul li {
    font-size: 10rem;
    margin-right: 30px;
  }
  footer .footerHeadings p {
    font-size: 2rem;
  }
}

@media (max-width: 1430px) {
  header .headerContentContainer {
    bottom: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  footer .footerHeadings h3 {
    font-size: 6rem;
  }
  footer .means .socials h4 {
    font-size: 3rem;
  }
  footer .means .socials p {
    font-size: 2.5rem;
  }
  footer .means .socials ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
  }
  footer .means .socials ul li, footer .means .socials ul li:nth-child(4) {
    font-size: 12rem;
    margin-top: 20px;
    margin-right: 0;
    position: relative;
  }
}

@media (max-width: 1308px) {
  button.slick-prev.slick-arrow {
    display: none;
  }
  button.slick-next.slick-arrow {
    display: none;
  }
  .wrapper {
    width: 80%;
  }
  .portfolio h3 {
    opacity: 2;
  }
  .portfolio .lowWidth {
    display: block;
    opacity: 1;
  }
  .portfolio .extra {
    display: none;
  }
  .portfolio .gallery .projectContent .projectImg {
    width: 200%;
  }
  footer .means .contactMe form textarea {
    height: 200px;
  }
}

@media (max-width: 1265px) {
  button.slick-prev.slick-arrow {
    display: none;
  }
  button.slick-next.slick-arrow {
    display: none;
  }
  .about .aboutContentContainer .aboutHeading h3,
  .skillset .skillsetContentContainer .skillsetHeading h3 {
    font-size: 5rem;
  }
  .about .aboutContentContainer .aboutText ul li p {
    font-size: 1.7rem;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li,
  .skillset .skillsetContentContainer .skillList .humanSkills ul li {
    font-size: 1.7rem;
  }
}

@media (max-width: 1230px) {
  button.slick-prev.slick-arrow {
    display: none;
  }
  button.slick-next.slick-arrow {
    display: none;
  }
  .projectImg {
    display: none;
  }
  .portfolio .gallery .projectContent .projectsLine {
    display: none;
  }
  footer .footerHeadings h3 {
    font-size: 4.5rem;
  }
  footer .footerHeadings p {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
  }
  footer .means {
    margin-top: 0px;
  }
  footer .means .contactMe form label {
    font-size: 1.6rem;
  }
  footer .means .contactMe form input {
    height: 35px;
  }
  footer .means .contactMe form button {
    font-size: 2rem;
  }
  footer .means {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .means .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 20px;
  }
  footer .means .socials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .means .socials ul li,
  footer .means .socials ul li:nth-child(4) {
    font-size: 7rem;
    margin-right: 15px;
  }
}

@media (max-width: 1040px) {
  button.slick-prev.slick-arrow {
    display: none;
  }
  button.slick-next.slick-arrow {
    display: none;
  }
  button.slick-prev.slick-arrow {
    display: none;
  }
  button.slick-next.slick-arrow {
    display: none;
  }
  .about .aboutContentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .about .aboutContentContainer .aboutHeading h3 {
    text-shadow: 0px 30px rgba(2, 66, 63, 0.5), 0px 60px rgba(99, 3, 4, 0.5);
    border-bottom: 1px solid;
    padding-bottom: 80px;
  }
  .about .aboutContentContainer .aboutText ul {
    margin-top: 30px;
  }
  .about .aboutContentContainer .aboutText ul li {
    list-style: disclosure-closed;
    font-size: 2rem;
  }
  .about .aboutContentContainer .aboutText ul li p {
    font-size: 1.9rem;
  }
  .about .aboutContentContainer .aboutLine {
    display: none;
  }
  .skillset {
    padding-top: 70px;
  }
  .skillset .skillsetContentContainer .skillList h4 {
    font-size: 2.5rem;
  }
  .skillset .skillsetContentContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .skillset .skillsetContentContainer .skillsetHeading {
    text-shadow: 0px 30px rgba(2, 66, 63, 0.5), 0px 60px rgba(99, 3, 4, 0.5);
    border-bottom: 1px solid;
    padding-bottom: 80px;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills, .skillset .skillsetContentContainer .skillList .humanSkills {
    margin-top: 30px;
  }
  .skillset .skillsetContentContainer .skillList h4 {
    font-size: 3.5rem;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul, .skillset .skillsetContentContainer .skillList .humanSkills ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li, .skillset .skillsetContentContainer .skillList .humanSkills ul li {
    font-size: 2rem;
  }
  .skillset .skillsetContentContainer .skillsetLine {
    display: none;
  }
  footer .up {
    margin-top: 10px;
    font-size: 2.5rem;
  }
}

@media (max-width: 890px) {
  header .headerContentContainer {
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-transform: translate(0%, 120%);
            transform: translate(0%, 120%);
  }
  header .headerContentContainer .mainHeading {
    border: none;
    padding: 0;
  }
  header .headerContentContainer .secondaryHeading {
    margin-top: 50px;
    padding: 0;
  }
  header .headerContentContainer .secondaryHeading h2 {
    font-size: 6rem;
  }
  .skillset .skillsetContentContainer .skillList h4 {
    font-size: 2.9rem;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li, .skillset .skillsetContentContainer .skillList .humanSkills ul li {
    font-size: 1.7rem;
  }
  footer .footerHeadings h3 {
    font-size: 4rem;
  }
  footer .footerHeadings p {
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
  footer .means .socials ul li, footer .means .socials ul li:nth-child(4) {
    font-size: 5rem;
    margin-right: 45px;
  }
  footer .means .socials ul li:nth-child(4) {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  header .headerContentContainer .secondaryHeading h2 {
    font-size: 5rem;
  }
  header .headerContentContainer .secondaryHeading {
    margin-top: 30px;
  }
  .about .aboutContentContainer .aboutText ul li p {
    font-size: 1.7rem;
    letter-spacing: normal;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li, .skillset .skillsetContentContainer .skillList .humanSkills ul li {
    font-size: 1.5rem;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h4 {
    font-size: 3rem;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h5 {
    font-size: 2rem;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription p {
    font-size: 1.4rem;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription .tools {
    font-size: 1.8rem;
    font-weight: 700;
  }
  footer .footerHeadings h3 {
    font-size: 3.5rem;
  }
  footer .means .contactMe form {
    width: 350px;
  }
}

@media (max-width: 707px) {
  footer .footerHeadings h3 {
    max-width: 100%;
  }
}

@media (max-width: 621px) {
  .portfolio .direction h3 {
    font-size: 1.4rem;
  }
  .portfolio .gallery .projectContent .projectText .projectLinks {
    margin-top: 20px;
  }
}

@media (max-width: 590px) {
  .about .aboutContentContainer .aboutHeading h3,
  .skillset .skillsetContentContainer .skillsetHeading h3 {
    font-size: 4rem;
    padding-bottom: 60px;
  }
  .about .aboutContentContainer .aboutText ul li p {
    font-size: 1.5rem;
  }
  .about .aboutContentContainer .aboutText ul li {
    font-size: 1.5rem;
  }
  .skillset .skillsetContentContainer .skillsetHeading {
    padding: 0;
  }
  .skillset .skillsetContentContainer .skillList h4 {
    font-size: 2.5rem;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul,
  .skillset .skillsetContentContainer .skillList .humanSkills ul {
    margin: 10px 30px 0px 0px;
  }
  .portfolio .gallery .projectContent {
    height: 700px;
    margin-top: 20px;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h4 {
    text-shadow: 0px 10px rgba(2, 66, 63, 0.5), 0px 20px rgba(99, 3, 4, 0.5);
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h5 {
    margin: 20px 0px;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription p {
    font-size: 1.35rem;
  }
  .portfolio .gallery .projectContent .projectText .projectLinks .github,
  .portfolio .gallery .projectContent .projectText .projectLinks .viewLive {
    font-size: 1.6rem;
    padding: 5px 10px;
  }
}

@media (max-width: 515px) {
  .skillset .skillsetContentContainer .skillList h4 {
    font-size: 2rem;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li, .skillset .skillsetContentContainer .skillList .humanSkills ul li {
    font-size: 1.2rem;
  }
  .portfolio .direction h3 {
    font-size: 1.2rem;
  }
  .portfolio .gallery .projectContent {
    margin-top: 0;
    height: 800px;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription .tools {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription p {
    font-size: 1.35rem;
  }
  .portfolio .scrollToContact {
    top: 96%;
  }
  footer .means .socials p {
    font-size: 2rem;
  }
  footer .up {
    font-size: 2rem;
  }
}

@media (max-width: 470px) {
  header .scrollToContent p,
  .about .scrollToSkills p,
  .skillset .scrollToProjects p,
  .portfolio .scrollToContact p {
    font-size: 1.5rem;
  }
  header .headerContentContainer {
    -webkit-transform: translate(0, 160%);
            transform: translate(0, 160%);
  }
  header .headerContentContainer .mainHeading h1 {
    font-size: 5rem;
  }
  header .headerContentContainer .mainHeading span {
    font-size: 2rem;
  }
  header .headerContentContainer .secondaryHeading h2 {
    font-size: 4rem;
  }
  .about .aboutContentContainer .aboutHeading h3, .skillset .skillsetContentContainer .skillsetHeading h3 {
    font-size: 2.5rem;
    text-shadow: 0px 15px rgba(2, 66, 63, 0.5), 0px 30px rgba(99, 3, 4, 0.5);
    padding-bottom: 30px;
  }
  .about .aboutContentContainer .aboutText ul {
    margin-top: 0px;
  }
  .about .aboutContentContainer .aboutText ul li {
    list-style: none;
  }
  .about .aboutContentContainer .aboutText ul li p {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }
  .skillset .skillsetContentContainer .skillList h4 {
    display: inline-block;
    max-width: 70%;
    font-size: 1.7rem;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul,
  .skillset .skillsetContentContainer .skillList .humanSkills ul {
    margin-right: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li,
  .skillset .skillsetContentContainer .skillList .humanSkills ul li {
    font-size: 1rem;
    margin-left: 0;
  }
  .skillset .skillsetContentContainer .skillList .codeSkills ul li p,
  .skillset .skillsetContentContainer .skillList .humanSkills ul li p {
    letter-spacing: 2px;
  }
  .portfolio .direction h3 {
    font-size: 1rem;
    margin-bottom: 4px;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h4 {
    font-size: 2rem;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription h5 {
    display: none;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription .tools {
    margin: 20px 0px;
  }
  .portfolio .gallery .projectContent .projectText .projectDescription p {
    font-size: 1.15rem;
  }
  .portfolio .gallery .projectContent .projectText .projectLinks .github,
  .portfolio .gallery .projectContent .projectText .projectLinks .viewLive {
    font-size: 1.2rem;
    letter-spacing: normal;
    margin-right: 15px;
  }
  footer .footerHeadings h3 {
    font-size: 2.5rem;
  }
  footer .footerHeadings p {
    font-size: 1.3rem;
  }
  footer .means .contactMe form {
    width: 220px;
  }
  footer .means .contactMe form input, footer .means .contactMe form textarea {
    font-size: 1.5rem;
  }
  footer .means .socials h4 {
    font-size: 2rem;
  }
  footer .means .socials p {
    font-size: 1.2rem;
    font-weight: 700;
  }
  footer .means .socials ul li, footer .means .socials ul li:nth-child(4) {
    font-size: 3rem;
    margin-right: 25px;
  }
  footer .copyright {
    font-size: 0.7rem;
  }
}
